// typography.scss
// by Kadar Claudiu
 

// Here is typo style from this project.

h1, .h1, h2, .h2, h3, .h3 {
	margin: 0;
	padding-top: 3.5rem;
	padding-bottom: 3.5rem;
}

h4 , .h4 , h5 , .h5 , h6 , .h6 {
	margin: 0;
	padding-top: 3.5rem;
	padding-bottom: 2.5rem;
}

a {
	color: $theme-color-dark;
	text-decoration: none;
	@include transition();
	&:focus {
		text-decoration: none;
	}
}

p {
	em {
		font-style: italic;
	}
	strong {
		font-weight: 600;
	}
	small {
		font-size: 1.6rem;
	}
	h1, h2, h3, h4, h5, h6 {
		padding: 0;
	}
}

@media (max-width: 1620px) {
	
}

@media (max-width: 1420px) {
	
}

@media (max-width: 1220px) {
	
}

@media (max-width: 1030px) {
	
}

@media (max-width: 800px) {
	
}

@media (max-width: 500px) {
	
}

@media (max-width: 330px) {
	
}