// variables.scss
// by Kadar Claudiu
 

// Here will be all variables for this project, excluding variables for materialize.

$theme-color-base: 								#ce7fda;
$theme-color-dark: 								#000;
$theme-color-light: 							#fff;
$theme-color-text-grey:							#808080;
$theme-color-text-grey-inverted-contrast:		#c1c1c1;
$theme-font--just-sans-serif: 					Arial , Helvetica , sans-serif;
$theme-font-sans-serif: 						'Oswald' , Helvetica , Arial , sans-serif;
$theme-font-em: 								'Ek Mukta' , Helvetica , Arial , sans-serif;
$theme-font-serif: 								'Merriweather' , Times , serif;
$theme-font-pd: 								'Playfair Display' , Times , serif;